@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.counter___wrapper {
  width: 50%;
  margin: 0 auto;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
